body { 
  background: #0f0f0f; 
}

/* Header*/

header {
   position: relative;
   height: 100vh;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/me.jpg) no-repeat top center;
   background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 0 auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1.0);
}
header .banner-text h2 {
   font: 24px/1.9em 'opensans-bold', sans-serif;
   margin: 0 auto;
   width: 100%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* nav-wrap */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}


#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
   background-color: #000;
}

ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

ul#nav li a {

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #3BB4E1;
}

ul#nav li a:active {
  background-color: transparent; !important; 
}

ul#nav li.current a {
  color: #fff ;
}


/* About*/
#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}

/* Resume*/
#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   border-bottom: 3px solid #3BB4E1;
   padding-bottom: 6px;
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col {
   padding-top: 9px; 
}
#resume .main-col {
   padding-right: 10%; 
}

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume .info {
   font: 16px/24px 'opensans-regular', sans-serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/* Portfolio*/

#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding-bottom: 30px;
   text-align: center;
}

#portfolio h1 span {
  border-bottom: 3px solid #3BB4E1;
   padding-bottom: 6px;
}

#portfolio h2 span{
  font: 25px/30px 'opensans-bold', sans-serif;
}


/* Contact*/

#contact {
   background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
}

#contact .row #copyright p {
  color: #fff;
}

#contact a, #contact a:visited  {
 color: #3BB4E1; 
}

#contact a:hover, #contact a:focus {
 color: #fff; 
}

footer {
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}
