
html, body, div, span,
h1, h2, h3, p{
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: #fff;
   font-family: 'opensans-regular', sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
   color: #838C95;
}

h1, h2, h3 {
   color: #313131;
   font-family: 'opensans-bold', sans-serif;
   font-weight: normal;
}
h1 a, h2 a, h3 a { font-weight: inherit; }

p { margin: 0 0 30px 0; }
p img { margin: 0; }
p.lead {
   font: 19px/36px 'opensans-light', sans-serif;
   margin-bottom: 18px;
}

a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #fff;

}
a:hover, a:focus { color: #3BB4E1; }
p a, p a:visited { line-height: inherit; }

.skills{
   display: flex;
   flex-direction: row;
}

.skills > div{
   width: 45vw;
   padding:10px;
   margin: 10px;
   border: 1px solid #E8E8E8;
}

.skills img{
   height: 50px;
   width: 50px;
}

.row {
   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}

.row .three       { width: 25%; }
.row .nine        { width: 75%; }
.row .twelve      { width: 100%; }

.row .row { width: auto; max-width: none; margin: 0 -20px; }

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.container {
   position: relative;
   background: #ebeeee;
   width: 100%;
   height: 300px;
}

.container .box {
   position: relative;
   width: calc(340px - 30px);
   height: calc(200px - 30px);
   background: #000;
   float: left;
   margin: 15px;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  
}

.container .box:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleX(0);
	opacity: 0;
	z-index: 1;
	
}

.container .box:hover:before {
	transform: scaleX(1);
	opacity: 1;
}

.container .box:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleY(0);
	opacity: 0;
	z-index: 1;
}

.container .box:hover:after {
	opacity: 1;
}

.container .box .imgBox {
	position: relative;
}

.container .box .imgBox img{
	width: 310px;
	transition: 0.5s;
}

.container .box:hover .imgBox img {
	opacity: .4;
	transform: scale(1.2);
}

.container .box:hover .content {
	display:block;
}

.container .box .content {
	display: none;
	position: absolute;
	width: 100%;
	top: 55%;
	padding: 5px;
	transform: translateY(-50%);
	z-index: 2;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	
}

.container .columns {
	padding: 0 !important;
}

.container .box .content h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	transition: 0.5s;
	font-size: 20px;
}

.column, .columns {
   position: relative;
   padding: 0 20px;
   min-height: 1px;
   float: left;
}

@media only screen and (max-width: 767px) {

   .row {
      width: 460px;
      margin: 0 auto;
      padding: 0;
   }
   
   .container .box .imgBox img{
	width: 100%;
	transition: 0.5s;
}
   .column, .columns {
      width: auto !important;
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 30px;
   }
   .row .row { width: auto; max-width: none; margin: 0 -30px; }

   .skills {
      flex-direction: column;
   }

   .skills > div {
      width: 100%;
   }
   
}

@media only screen and (max-width: 460px) {

   .row { width: auto; }
   
   .container {
	   height: 600px;
   }

}


.text-center  { text-align: center !important; }
.align-center {
   margin-left: auto !important;
   margin-right: auto !important;
   text-align: center !important;
}